.feed {
  flex: 0.6;
}

.feed__inputContainer {
  background-color: white;
  border-radius: 10px;
  padding: 15px 10px;
  border: solid 1px lightgray;
}

.feed__inputForm {
  display: flex;
  align-items: center;
}

.feed__input {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 100px;
  height: 40px;
  margin-left: 8px;
  padding: 6px 13px;
}

.feed__input > form > input {
  outline: none;
  border: none;
  width: 100%;
  background: none;
}

.feed__input > form > button {
  display: none;
}

.feed_inputOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
