.login {
  display: grid;
  place-items: center;
  margin: auto;
}

.login > img {
  object-fit: contain;
  height: 70px;
  margin-bottom: 10px;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  height: 50px;
  width: 300px;
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.login > form > button {
  border-radius: 6px;
  height: 50px;
  width: 300px;
  outline: none;
  border: none;
  background-color: #2867b2;
  color: white;
  cursor: pointer;
  transition: all 1.6;
}

.login > form > button:hover {
  background-color: #3974bd;
}

.login > form > p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.login__register {
  font-weight: bold;
  color: #2867b2;
  cursor: pointer;
}
